[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "~=6.28"
keras = "~=2.15"
matplotlib = "~=3.8"
networkx = "~=3.2"
numpy = "~=1.26"
opencv-contrib-python-headless = "~=4.9"
pandas = "~=2.1"
plotly = "*"
pooch = "~=1.8"
scikit-image = "~=0.23"
scikit-learn = "~=1.3"
scipy = "~=1.11"
seaborn = "~=0.13"
sympy = "~=1.12"
tensorflow = "~=2.15"

[dev-packages]
black = {extras = ["jupyter"] }
coverage = "*"
ipywidgets = "*"
isort = "*"
jupyterlab = "*"
line-profiler = "*"
mypy = "*"
notebook = "*"
pylint = "*"
rope = "*"
materiales = {file = ".", editable = true}

[requires]
python_version = "3.12"
